django
djangorestframework
dj-rest-auth
django-allauth
djangorestframework-simplejwt
django-cors-headers
django-environ
drf-spectacular
psycopg2-binary
pillow
django-celery-beat
django-celery-results
django-celery-email
redis
flower
sphinx
sphinx-material
sphinx-copybutton
sphinx-autodoc-typehints
sphinx-autobuild
mypy
django-stubs
djangorestframework-stubs
pytest
pytest-django
pytest-sugar
factory_boy
faker
django-coverage-plugin
django-silk
django-extensions

